<app-top-bar></app-top-bar>
<div class="container">
  <h1>Restaurantes</h1>
  <div class="row">
    <p-dataTable [value]="restaurants" [rows]="5" [paginator]="true" [rowsPerPageOptions]="[5,10,20]">
      <p-column field="description" header="Nombre"></p-column>
      <p-column styleClass="col-button" header="">

          <ng-template let-restaurant="rowData" pTemplate="body">
              <button type="button" class="btn-floating waves-effect waves-light red" pButton (click)="deleteRestaurant(restaurant.id)"><i class="material-icons left">delete</i></button>
              <span> | </span>
              <!--button type="button" class="btn-floating waves-effect waves-light green" pButton (click)="deleteRestaurant(restaurant)"><i class="material-icons left">mode_edit</i></button-->
              <a [routerLink]="[restaurant.id]" class="btn-floating waves-effect waves-light green"><i class="material-icons">mode_edit</i></a>
          </ng-template>
      </p-column>
    </p-dataTable>
  </div>
  <div class="row">
    <div class="center col s4">
      <a [routerLink]="['']"  class="btn-floating waves-effect waves-light green"><i class="material-icons">home</i></a>
    </div>
    <div class="center col s4">
      <span> </span>
    </div>
    <div class="center col s4">
      <a [routerLink]="['add']" class="btn-floating waves-effect waves-light red"><i class="material-icons">add</i></a>
    </div>
  </div>
</div>
