  <div class="row">
    <form class="col s12">
      <div class="col s4">
        <h1 class="flow-text">Servicio al cliente</h1>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input id="idUser" type="text" class="validate">
            <label for="idUser">Usuario</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
            <input id="password" type="password" class="validate">
            <label for="password">Clave</label>
          </div>
        </div>
        <div class="row">
          <button class="btn waves-effect waves-light brown darken-2" type="submit" name="action" routerLink="/Chips">Ingresar
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
      <div class="col s8">
        <img width="100%" src="../assets/portada.jpg" alt="">
      </div>
    </form>
  </div>

