
<div class="row">
  <div class="center col s12">
    <h1>Menu</h1>
  </div>
</div>
<div class="row">

  <div class="center col s3" >
    <a href="#"><i class="material-icons large icon-orange">list</i></a>
    <br>
    <h4>Encuesta</h4>
  </div>
  <div class="center col s3" >
    <a href="/userapp"><i class="material-icons large icon-orange">supervisor_account</i></a>
    <br>
    <h4>Usuarios</h4>
  </div>
  <div class="center col s3">
    <a href="/restaurant"><i class="material-icons large icon-orange">store</i></a>
    <br>
    <h4>Locales</h4>
  </div>
  <div class="center col s3">
    <a href="#"><i class="material-icons large icon-orange">equalizer</i></a>
    <br>
    <h4>Reportes</h4>
  </div>
</div>
