<app-top-bar></app-top-bar>
<div class="container">
  <div class="row">
    <div class="center col s12">
      <h1>Menu</h1>
    </div>
  </div>
  <div class="row">
    <div class="col s9">
      <div class="center col s3" >
        <a [routerLink]="['/invoice']"><i class="material-icons large icon-orange">list</i></a>
        <br>
        <h4>Encuesta</h4>
      </div>
      <div class="center col s3" >
        <a [routerLink]="['/userapp']" ><i class="material-icons large icon-orange">supervisor_account</i></a>
        <br>
        <h4>Usuarios</h4>
      </div>
      <div class="center col s3">
        <a [routerLink]="['/restaurant']"><i class="material-icons large icon-orange">store</i></a>
        <br>
        <h4>Locales</h4>
      </div>
      <div class="center col s3">
        <a [routerLink]="['/report']"><i class="material-icons large icon-orange">equalizer</i></a>
        <br>
        <h4>Reportes</h4>
      </div>
    </div>
    <div class="col s3">
      <img width="100%" src="../assets/chef.jpg" alt="">
    </div>
  </div>
</div>
